@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 1rem;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #e3e3e3, #d3d3d3, #e3e3e3);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Helper classes */
.Center {
  text-align: center;
}

.Mb-2 {
  margin-bottom: 2rem;
}

.Mt-2 {
  margin-top: 2rem;
}

/* App */
.App {
  max-width: 1200px;
  margin: 0 auto;
}

/* Wrapper */
.Wrapper {
  width: 90%;
  margin: 0 auto;
}

/* Header */
.Header {
  font-size: 0.85rem;
  margin: 0.5rem 0;
}

/*** Navbar ***/
.Navbar {
  display: inline-flex;
  width: 100%;
  height: 2rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;
}

.Navbar-link {
  padding: 5px 15px;
  font-size: 1.3rem;
}

.Navbar-link:first-of-type {
  padding: 15px 5px 15px 0px;
}

/* SearchBar */
.Search {
  display: flex;
  justify-content: center;
}

.Search > div {
  display: inline-block;
  position: relative;
}

.Search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.Search > div > input {
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 1px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.Search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.Search > div > input:focus::placeholder {
  opacity: 1;
}

.Search > div > input:focus,
.Search > div > input:not(:placeholder-shown) {
  width: 250px;
}

/* Cards */
.CardsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}


/*** Card ***/
.CardWrapper {
  width: 327px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.Product-img {
  line-height: 0;
  height: 300px;
}

.Product-img img {
  height: 300px;
  width: 327px;
  border-radius: 7px 7px 0 0;
}

.Product-info {
  width: 327px;
  height: 270px;
  padding-top: 20px;
  border-radius: 0 0 7px 7px;
  background-color: #ffffff;
}

.Product-text {
  width: 277px;
  height: 220px;
  margin: 0 auto;
}

.Product-text h2 {
  font-size: 1.6rem;
  color: #474747;
}

.Product-text h3 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.Product-text h4 {
  font-size: 0.7rem;
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.16em;
}

.Product-text p {
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 0.95rem;
  font-weight: 300;
  overflow: hidden;
}

.Product-price-rating {
  width: 277px;
  margin: 0 auto;
}

.Product-price-rating p {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 300;
  color: #474747;
}

.Product-price-rating p > span {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1.1rem;
}

/* 404 */
.NotFound {
  margin-top: 20px;
  text-align: center;
}

.NotFound h2 {
  font-weight: 500;
  font-size: 5rem;
}

.NotFound p {
  color: #8d8d8d;
}